<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Error: <%= numError %></h1>
        <p><%= mensaje %></p>
    </body>
</html>