<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-icons-1.13.1/bootstrap-icons.css">
</head>

<body>
    <%- include("header") %>

    <main>

        <% if(mensaje){ %>
            <div aria-live="polite" aria-atomic="true" class="position-fixed top-50 start-50 translate-middle toast-overlay" data-bs-autohide="false">
                <div class="toast-container p-3" id="registerResultToast">
                    <div class="toast">
                        <div class="toast-header">
                            <strong class="me-auto">Aviso</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            <%= mensaje %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <br>
        <div class="container">
            <section id="registro">
                <h3>Registro de usuario</h3>
                <div class="progress sticky-lg-top mt-3 mb-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                <form id="registroForm" novalidate method="POST" action="/registroUsuario">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre*</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                        <span class="invalid-feedback" aria-live="polite">
                            Por favor, introduce un nombre válido con más de 2 carácteres.
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico*</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <span class="invalid-feedback" aria-live="polite">
                            Por favor, introduce un correo electrónico válido.
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña*</label>
                        <input type="password" class="form-control" id="password" name="password"
                            pattern="(?=.*\d)(?=.*[A-Z])(?=.*[@$!%*?&.,;:_\-]).{8,}" required>
                        <span class="invalid-feedback" aria-live="polite">
                            La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter
                            especial.
                        </span>
                    </div>

                    <div class="mb-3">
                        <label for="tel" class="form-label">Teléfono</label>
                        <input id="tel" type="tel" class="form-control" name="tel" pattern="[0-9]{9}">
                        <span class="invalid-feedback" aria-live="polite">
                            Por favor, introduce un número de teléfono válido de 9 dígitos.
                        </span>
                    </div>

                    <div class="mb-4">
                        <label for="concesionario" class="form-label">Concesionario*</label>
                        <select class="form-select" id="concesionario" name="concesionario" required>
                            <option selected disabled value="">Selecciona un concesionario</option>
                            <option value="1">Mercedes</option>
                        </select>
                        <span class="invalid-feedback" aria-live="polite">
                            Por favor, selecciona un concesionario.
                        </span>
                    </div>

                    <div class="mb-4">
                            <label for="rol" class="form-label">Rol*</label>
                            <select class="form-select" id="rol" name="rol" required>
                                <option selected disabled value="">Selecciona un rol</option>
                                <option value="empleado">Empleado</option>
                                <option value="admin">Administrador</option>
                            </select>
                            <span class="invalid-feedback" aria-live="polite">
                                Por favor, selecciona un rol.
                            </span>
                    </div>

                    <div class="mt-3">
                        <button id="resetBtn" class="btn btn-secondary" type="reset">Limpiar</button>
                        <button class="btn btn-primary ms-2" type="submit">Enviar</button>
                    </div>
                </form>
                <br>
            </section>
        </div>
    </main>

    <script src="js/paginaPrincipal.js"></script>
    <script src="js/registroUsuario.js"></script>

</body>

</html>