<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Ejercicio 1 - Cabecera -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de un vehículo eléctrico</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

    <header>
        <div id="titulo" class="titulo container-fluid">
            <h1>CarriCocheRenting</h1>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-lg-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../public/img/logoCarriCoche.png" alt="Logo de la empresa" width="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Barra de navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html" aria-label="Ir al inicio"
                            title="alt + I" accesskey="i">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#vehiculos" aria-label="Ir a vehículos disponibles" title="alt + V"
                            accesskey="v">Vehículos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reservas.html" aria-label="Ir a reservas" title="alt + R"
                            accesskey="r">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html" aria-label="Ir a contacto" title="alt + A"
                            accesskey="a">Contacto</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Ajustes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <h6 class="dropdown-header">Tema</h6>
                            </li>
                            <li><a id="tema-claro" class="dropdown-item" href="#">Claro</a></li>
                            <li><a id="tema-oscuro" class="dropdown-item" href="#">Oscuro</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <h6 class="dropdown-header">Idioma</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Español</a></li>
                            <li><a class="dropdown-item" href="#">Inglés</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <br>
        <div class="container">
            <section id="reservas">
                <h3>Reservar</h3>
                <div class="progress sticky-lg-top mt-3 mb-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                <form id="reservaForm" novalidate>
                    <fieldset>
                        <legend>Datos personales</legend>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="nombre" class="form-label">Nombre*</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required>
                                <span class="invalid-feedback" aria-live="polite">
                                    Por favor, introduce tu nombre con mínimo 3 carácteres.
                                </span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="apellidos" class="form-label">Apellido*</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                                <span class="invalid-feedback" aria-live="polite">
                                    Por favor, introduce un apellido válido con mínimo 3 carácteres.
                                </span>
                            </div>

                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico*</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <span class="invalid-feedback" aria-live="polite">
                                Por favor, introduce un correo electrónico válido.
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña*</label>
                            <input type="password" class="form-control" id="password" name="password"
                                pattern="(?=.*\d)(?=.*[A-Z])(?=.*[@$!%*?&.,;:_\-]).{8,}" required>
                            <span class="invalid-feedback" aria-live="polite">
                                La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter
                                especial.
                            </span>
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Teléfono*</label>
                            <input id="tel" type="tel" class="form-control" name="tel" pattern="[0-9]{9}" required>
                            <span class="invalid-feedback" aria-live="polite">
                                Por favor, introduce un número de teléfono válido de 9 dígitos.
                            </span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Datos de la reserva</legend>
                        <div class="mb-3">
                            <label for="vehiculo" class="form-label">Vehículo*</label>
                            <select class="form-select" id="vehiculo" name="vehiculo" required>
                                <option selected disabled value="">Selecciona un vehículo</option>
                                <option value="Coche">Coche</option>
                                <option value="Moto">Moto</option>
                                <option value="Patinete">Patinete eléctrico</option>
                            </select>
                            <span class="invalid-feedback" aria-live="polite">
                                Por favor, selecciona un vehículo.
                            </span>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="recogida" class="form-label">Recogida* </label>
                                <input class="form-control" type="datetime-local" id="recogida" name="recogida"
                                    required>
                                <span class="invalid-feedback" aria-live="polite">
                                    Por favor, introduce una fecha y hora de recogida válidas actuales.
                                </span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="devolucion" class="form-label">Devolución* </label>
                                <input class="form-control" type="datetime-local" id="devolucion" name="devolucion"
                                    required>
                                <span class="invalid-feedback" aria-live="polite">
                                    Por favor, introduce una fecha y hora de devolución válidas actuales.
                                </span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Preferencias</legend>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="terminos" required>
                            <label class="form-check-label" for="terminos">Acepto los términos y condiciones*</label>
                            <span class="invalid-feedback" aria-live="polite">
                                Debes aceptar los términos y condiciones para continuar.
                            </span>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="notificaciones">
                            <label class="form-check-label" for="notificaciones">Deseo recibir notificaciones y
                                promociones</label>
                        </div>
                    </fieldset>
                    <div class="mt-3">
                        <button id="resetBtn" class="btn btn-secondary" type="reset">Limpiar</button>
                        <button class="btn btn-primary ms-2" type="submit">Enviar</button>
                    </div>
                </form>
                <br>
            </section>
        </div>
    </main>

    <script src="../public/js/paginaPrincipal.js"></script>
    <script src="../public/js/formulario.js"></script>

</body>