*, *::before, *::after {
 box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.titulo{
    background-color: #000000;
    color: white;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #6610f2;
}

.navbar{
    background-color: #6610f2;
}

.navbar .nav-link:hover {
  background-color: #945cf05f;
  border-radius: 5%;
}
