*, *::before, *::after {
 box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #000000;
}

body.dark-mode {
  background-color: #000000;
  color: white;
}

.titulo{
    background-color: #000000;
    color: white;
    padding: 20px;
}

body.dark-mode .titulo{
    background-color: #2f096c;
    color: #ffffff;
}

body.dark-mode table{
    background-color: #202020;
    color: #ffffff;
}

body.dark-mode input, body.dark-mode select{
    background-color: #1e1e1e;
    color: #f0f0f0;           
    border-color: #333;
}

a {
    text-decoration: none;
    color: #6610f2;
}

.navbar{
    background-color: #6610f2;
}

.navbar .nav-link:hover {
  background-color: #945cf05f;
  border-radius: 5%;
}
