*, *::before, *::after {
 box-sizing: border-box;
 }

body{
    font-family: Arial, Helvetica, sans-serif; font-size: 1rem;
    background-color: #566ca39a;
}

h1{
    font-family: inherit;
    font-size: 2rem;
}

fieldset{
    background-color: #e6edf47a;
}

legend{
    font-weight: bold;
    font-family: inherit;
    font-size: 1.3rem;
}

textarea{
    width: 27%;
    height: 18vh;
}

#direccion{
    width: 40%;
}

#mail{
    width: 25%;
}

#nivel{
    width: 14%;
}

#frecuencia{
    width: 8%;
}

#nombreCompleto {
    display: flex;
    gap: 0.5rem; 
}

#nombre{
    flex: 1;        
}

#apellido1 {
    flex: 1;        
}

#apellido2 {
    flex: 1;     
}

.legend-interna{
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
}

