*, *::before, *::after {
 box-sizing: border-box;
 }


 body{
    display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "articulo1 complementario"
    "articulo2 complementario"
    "footer footer";
    gap: 5px;
    margin: 0;
    grid-template-rows: 20vh 10vh repeat(2, 30vh) 1fr;
    grid-template-columns: 75vw 1fr;
    height: 100vh;
}

.titulo{
    display: grid;
    grid-template-areas:
    "logo textotitulo";
    grid-template-rows: 1fr;
    grid-template-columns: 10% 1fr;
    background-color: #7260a3;
    grid-area: header;
}

.contenido, .opciones{
    display: none;
}

.pie{
    background-color: #85cd87;
    grid-area: footer;
}

.barra{
    background-color: #eb6827;
    grid-area: nav;
    display: flex;
}

.identificacion{
    background-color: #27a3eb;
    margin: 1vh;
    width: 23vw;
    margin-left: auto;
}

.articulo1{
    background-color: #770082;
    grid-area: articulo1;
}

.articulo2{
    background-color: #0786a3;
    grid-area: articulo2;
}

.logo{
    background-color: #a30707;
    margin: 1vh;
    grid-area: logo;
}

.complementario{
    background-color: #5a7396;
    grid-area: complementario;
    display: grid;
    grid-template-areas:
    "busqueda"
    "noticia";
    margin: 0;
    grid-template-rows: 35% 1fr;
}

.busqueda{
    background-color: #abad1f;
    grid-area: busqueda;
    margin: 15px;
    margin-bottom: 7px;
}

.noticias{
    background-color: #40d65e;
    grid-area: noticia;
    margin: 15px;
    margin-top: 0;
}

.textoTitulo{
    background-color: #20531f;
    grid-area: textotitulo;
    margin: 1vh;
}

