*, *::before, *::after {
 box-sizing: border-box;
 }


body{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";    
    gap: 5px;
    margin: 0;
    grid-template-rows: 20vh 70vh 1fr;
    height: 100vh;
}

.titulo{
    background-color: #7260a3;
    display: flex;
    grid-area: header;
}

.contenido{
    background-color: rgb(255, 127, 191);
    grid-area: main;
    width: 85%;
    margin: 0 auto;
}

.pie{
    background-color: #85cd87;
    grid-area: footer;
}

.opciones, .barra, .logo, .articulo1, .articulo2, .identificacion, .complementario, .textoTitulo{
    display:none;
}

